<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("ten"), '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("nha"), '#' %></li>
        <li><%= link_to t("help"), '#' %></li>
        <li><%= link_to t("login"), '#' %></li>
      </ul>
    </nav>
  </div>
</header>
